  <!DOCTYPE html>
  <html lang="zh-CN">
      <head>
          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
          <meta name="description" content="blogs">
          <meta name="author" content="yuhao">
          <title>article</title>

           <!-- Bootstrap -->
          <link href="__STATIC__/index/css/bootstrap.min.css" rel="stylesheet">
          <link href="__STATIC__/index/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet"> 
          <link href="__STATIC__/index/mystyle/my.css" rel="stylesheet">
          <link href="__STATIC__/index/mystyle/article.css" rel="stylesheet">
          
          <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
          <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
          <!--[if lt IE 9]>
              <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
              <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
          <![endif]-->
      </head>

      <body>
      <!--全局背景-->
          <div class="Yuhao_Background" style="background-image: url(__STATIC__/index/images/body_bg.jpg);"></div>
           <!--顶部模板-->
          {include file="common/header" /}




  <div class="container ymove">
              <div class="row row-offcanvas row-offcanvas-right">
                        <!--文字的轮播-->
                        {include file="common/roll" /}
                        <!--//文字的轮播-->
                

               <div class="col-xs-12 col-sm-9">   
                   <div class="position">
                       <a href="{:url('index/index')}">主页</a>
                           > 
                       <a href="{:url('cate/index',array('cateid'=>$cateres['id']))}">{$cateres.catename}</a>
                           >  
                   </div>
                      
      <div class="row">
             {volist name='articles' id='value'}   
            <div class="col-xs-10 col-xs-offset-1 article-con">
                        <div class="article-left">                
                                     <h4><a target="_blank" href="{:url('article/index',array('aim'=>$value.id))}">{$value.title}</a></h4>
                                     <p>
                                          <a href="###" class="label label-default">{$value.keywords}</a>
                                     </p>
                                         <p>{$value.desc}</p>
                                     <p>
                                          <span class="p-count"><i class="glyphicon glyphicon-user"></i>
                                               <a href="#">{$value.author}</a>
                                          </span>
                                          <span class="p-count"><i class="glyphicon glyphicon-eye-open"></i>阅读:{$value.click}</span>
                                          <span class="p-count"><i class="glyphicon glyphicon-comment"></i>评论:2</span>
                                          <span class="p-count"><i class="glyphicon glyphicon-time"></i>{$value.time|date='Y-m-d',###}</span>
                                     </p>
                        </div> <!--//article-left-->

                            <div class="article-img">
                                  <a target="_blank" href="{:url('article/index',array('arid'=>$value.id))}">
                                    <img src="{if condition="$value['pic'] neq '' "}__STATIC__/{$value.pic} {else /}__STATIC__/index/images/error.png{/if} " alt="{$value.title}"/>
                                  </a>
                            </div>
             </div>  <!--//col-xs-10 col-xs-offset-1 article-con-->
            {/volist}       

                         <!--分页-->
                         <div class="col-xs-6">  
                              {$articles->render()}  
                         </div>
                                                                                              
               </div><!--//row--> 
                            
                                                                                  
              </div><!--//col-xs-12 col-sm-9-->

              <!--右侧列表-->
              {include file="common/right" /}
              <!--//右侧列表-->

              </div><!--//row row-offcanvas row-offcanvas-right-->
     
  </div><!--//container ymove-->

              <!--页脚开始-->
               {include file="common/footer" /}
              <!--//页脚结束-->

      </body>
  </html>