<!--文字滚动-->
<div class="ysub-nav">
	<!-- <span>&nbsp;&nbsp;这里是后台传递的消息</span> -->
          <ul class="line">
            <li style="margin-top: 0px; "><a title="a" href="#">欢迎来到我的博客~</a></li>
            <li style="margin-top: 0px; "><a title="b" href="#">welcome come to my blog</a></li>
            <li style="margin-top: 0px; "><a title="c" href="#">但愿人长久</a></li>
            <li style="margin-top: 0px; "><a title="d" href="#">千里共婵娟</a></li>
            <li style="margin-top: 0px; "><a title="e" href="#">嘻嘻</a></li>
            <li style="margin-top: 0px; "><a title="f" href="#">~~~~~~</a></li> 
          </ul> 
</div>
<!--//文字滚动-->